<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="strativ_blog_post_detail_view">
        <observer name="strativ_blog_observer_log_post_detail_view"
                  instance="Strativ\Blog\Observer\LogPostDetailView"/>
    </event>
</config>
