<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Strativ\FormGrid\Model\ResourceModel\Faq\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">strativ_formgrid_faq</argument>
            <argument name="resourceModel" xsi:type="string">Strativ\FormGrid\Model\ResourceModel\Faq</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="strativ_formgrid_faq_listing_data_source" xsi:type="string">
                    Strativ\FormGrid\Model\ResourceModel\Faq\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
